<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="logo-text">TWENTY20 </ion-title>
    <span class="slogan-text">dream it, play it, win it</span>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="card-background-page">

    <ion-card>
      <img src="../../assets/imgs/card-bg.png" />
      <div *ngIf="todayNumber==0" class="card-title">N/A</div>
      <div *ngIf="todayNumber!=0" class="card-title">{{todayNumber}}</div>
      <div class="card-subtitle">Today number</div>
    </ion-card>
  </div>

  <div>
    <ion-list>
      <ion-list-header>
        Number of last one month
      </ion-list-header>
      <ion-item *ngFor="let n of numbers">
        <ion-icon *ngIf="n.Number!=0" name="mail-open" item-start></ion-icon>
        <ion-icon *ngIf="n.Number==0" name="mail" item-start></ion-icon>
        {{n.Day}}, {{n.DeclaredDate | date}}
        <ion-badge color="dark" item-end> {{n.Number==0?"N/A" : n.Number.toString()}}</ion-badge>
      </ion-item>
    </ion-list>    
  </div>
</ion-content>