.small-text
{
    font-size: 10px;
}

.logo-text
{
    font-family: cursive;
}

.slogan-text
{
    font-style: oblique;
    font-family: cursive;
    left: 47px;
    margin-left: 9px;
    margin-top: -12px;
    top: -6px;
    color: #9BD;
}